<p>Name:</strong> <%= @attraction.name %></p>
<p>Ticket:<%= @attraction.tickets %></p>
<p>Happiness:<%= @attraction.happiness_rating %></p>
<p>Nausea:<%= @attraction.nausea_rating %></p>
<p>Height:<%= @attraction.min_height %></p>


<form action="/rides/new" method="post">

<input type="submit" value="Go on this ride">
</form>
